.image-grid {
  display: flex;
  gap: 10px; 

  &__main {
    flex: 3; 
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__side {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-image {
      width: 100%;
      height: 50%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}
