.image-grid {
  display: flex;
  gap: 10px;
  width: 1140px;
  height: 500px;
  margin: 0 auto;

    &__main {
    flex: 3; 
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;

    }
  }

  &__side {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    &-image {
      width: 100%;
      height: calc(50% - 5px); 
      border-radius: 10px;
      object-fit: cover;
    }
  }
}