.section {
  width: 100%;
  display: flex;
  justify-content: center; 
  padding: 32px 0; 
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.product-container {
  width: 100%;
  max-width: 1300px; 
  padding: 0 16px; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.title {
  color: #152c5b;
  font-size: 20px; 
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px; 
}

.text {    
  width: 100%;
  max-width: 600px; 
  color: #b0b0b0;
  font-size: 16px; 
  line-height: 1.7;
  font-weight: 350;
  margin: 0;
  text-align: justify;
}