.card {
  display: flex;
  max-height: 245px;
  align-items: center;
  max-width: 500px;
  border-radius: 20px;
  border: 2px solid #bcc3d1;
  color: #152c5b;
  font-size: 16px;
  .imageContainer {
    max-width: 180px;
    max-height: 225px;
    margin: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .infoContainer {
    display: grid;
    gap: 9px;
    .address {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
