.mainContainer {
  display: grid;
  gap: 80px;
  min-height: 100vh;
  padding: 30px 16px 40px;

  .headerLogo {
    padding-top: 10px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    .left,
    .right {
      width: 50%;
      display: grid;
      justify-content: center;
      gap: 20px;
      padding: 20px 44px;

      @media (max-width: 1000px) {
        width: 100%;
        padding: 0;
      }
    }

    .right {
      a {
        font-size: 18px;
        color: $black;
        text-align: center;
        text-decoration: none;
      }

      h1 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 28px;
        }
      }
    }

    // Sadece sol taraf
    .left {
      border-right: 1px solid $color-border;
       @media (max-width:1000px){
        border: none;
       }
      .leftLogo {
        width: 360px;
        padding-bottom: 30px;

        @media (max-width: 768px) {
          width: 260px;
          
        }
      }
    }
  }

  .errorText {
    color: #d14343;
    font-size: 14px;
    text-align: center;
  }

  .adminInputWrapper {
    min-width: 450px;

    @media (max-width: 768px) {
      min-width: 100%;
      width: 100%;
    }
  }

  .adminInput {
    width: 100%;
    max-width: 450px;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}
