section {
  .searchFilterBar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 42px;
    gap: 10px;
    padding: 30px;
    background-color: $color-surface;
    .searchFilterBarIcons {
      display: flex;
      gap: 20px;
      .IconDiv {
        background-color: $white;
        padding: 16px 20px;
        border-radius: 12px;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $color-text-strong;
        font-weight: 600;
        .selectContent {
          display: flex;
          gap: 10px;
        }
        select {
          border: none;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .searchFilterBar {
      margin: 40px 0;
      padding: 20px 20px;
      .searchFilterBarIcons {
        gap: 10px;
      }
    }
  }
  @media (max-width: 810px) {
    .searchFilterBar {
      flex-direction: column;
      gap: 15px;
      border-radius: 20px;
      .searchFilterBarIcons {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        .IconDiv {
          width: 100%;
          justify-content: space-between;
        }
      }
      > div:last-child {
        width: 100%;
        button {
          width: 100%;
          padding: 15px;
        }
      }
    }
  }
}
