
.mostPickedContainer {
  width: 100%;
  margin: 40px 0;

  .sectionTitle {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #152C5B;
     font-family: $primary-font;
  }

  .mostPickedGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    
    > div:first-child {
      grid-row: span 2;
    }
  }
}


@media screen and (max-width: 768px) {
  .mostPickedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    .mostPickedGrid {
     
      grid-template-columns: 1fr;
      gap: 20px;
 
      > div {
        min-width: 90vw;
      
        height: 280px; 
        overflow: hidden;
      }

      
      > div:first-child {
        grid-row: span 1; 
      }
    }
  }
}