.section {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff; 
  padding: 40px 0;
}

.container {
  width: 100%;
  max-width: 1139px;
  padding: 0 20px;
}

.title {
  font-size: 24px;
  color: #152C5B;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  justify-content: center;
  width: 100%;
}