.container {
  height: 100vh;
  border-right: 1px solid gray;
  max-width: 300px;
  background-color: #ffffff;
  padding: 40px 56px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  .logo {
    width: 190px ;
  }
  .box {
    display: grid;
    gap: 32px;
    > :nth-child(4) {
      margin-top: 32px;
    }
  }
}
