.pageContainer {
  display: flex;
  justify-content: center; 
  padding-top: 50px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.contentWrapper {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end; 
}