.PaymentHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  background: #ffffff;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.logoWrapper {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.headerLogo {
  height: 32px;
  margin-bottom: 12px;
}

.stepWrapper {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

.stepTitle {
  font-family: $primary-font;
  font-size: 36px;
  color: $color-navy;
  font-weight: $font-semibold;
  text-align: center;
}

.stepSubtitle {
  font-family: $primary-font;
  font-size: 18px;
  color: $color-text-muted;
  font-weight: $font-thin;
  text-align: center;
}

.stepContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 20px auto;
}

.stepContainerDivider {
  width: 1px;
  min-height: 308px;
  background-color: $color-border;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;

  button {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }


  .primaryButton {
    font-family: $primary-font;
    background-color:#003DFC ;
    color: white;
    box-shadow: 0 4px 14px rgba(30, 64, 175, 0.3);
  }


  .secondaryButton {
    background-color: #F5F6F8;
    color: #B0B0B0;

    &:hover {
      background-color: #e5e7eb;
    }
  }

  .dashboardButton {
    font-family: $primary-font;
    background-color: white;
    color: $color-primary;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    border-color: $color-primary;
    font-weight: 500;
    box-shadow: 0 8px 20px rgba(50, 82, 223, 0.2);
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-2px); 
    }
  }
}