
.summaryCard {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 420px; 
  gap: 16px;

  .bottomContent {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 5px;

    .title {
      font-size: 20px; 
      font-weight: 500;
      color: #152C5B; 
    }

    .location {
      font-size: 15px; 
      font-weight: 300;
      color: #B0B0B0; 
    }
  }
}