.amentitiContainer {
  display: flex;
  gap: 44px;
  width: 100%; 
  justify-content: flex-start;      
  max-width: 1200px;  
  margin: 20px auto;  
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start;
}

.icon {
  width: 38px;           
  height: 38px;
  margin-bottom: 10px;
  object-fit: contain;
}

.text {
  font-family: sans-serif;
  font-size: 16px;
  color: #b0b0b0;        
  display: flex;
  gap: 8px;
  font-weight: 300;
}

.value {
  color:#152C5B;
  font-weight: 300;
}