
.hero-section {
  padding: 4rem 10%; 
  background-color: #fff;
  display: flex;
  justify-content: center;

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    max-width: 1300px;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      padding: 2rem 0;
    }
  }

  .hero-content {
    flex: 1;
    max-width: 600px;

    .hero-title {
      font-size: 42px;
      font-weight: 700;
      color: #152c5b;  
      line-height: 100%;
      margin-bottom: 1.5rem;
    }

    .hero-description {
      font-weight: 300;
      font-size: 16px;
      color: #b0b0b0; 
      line-height: 1.7;
      margin-bottom: 2.5rem;
      padding-right: 2rem;
    }

    .btn-primary {
      background-color: #3252df; 
      color: white;
      padding: 5px 28px 5px 28px;
      font-size: 1rem;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      margin-bottom: 3rem;
    }

    .hero-stats {
      display: flex;
      gap: 40px;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .stat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
          width: 32px;
          height: 32px;
          padding: 10px;
          background-color: #F3F4F6; 
          border-radius: 12px;
          box-sizing: content-box;
        }

        span {
          color: #b0b0b0;
          font-weight: 300;
        }
      }
    }
  }

  .hero-image-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .hero-image {
      width: 100%;
      max-width: 520px;
      height: auto;
      object-fit: cover;
      border-radius: 100px 15px 15px 15px; 
    }
  }
  
}