@use './functions' as *;

/*
 * Colors
 *
 * configure the colors required for the project here
 * */
$white: #ffffff;
$black: #000000;
$color-primary: #3252df;
$color-navy: #152c5b;
$color-text-strong: #1e1e1e;
$color-text-muted: #b0b0b0;
$color-border: #e5e5e5;
$color-surface: #eaf1ff;

/*
 * Typography and font sizes
 *
 * configure the typography and font sizes required for the project here
 * */

// font familly
$primary-font: 'Poppins', sans-serif;

//font-sizes
$font-base: pxToRem(16);
$font-size-sm: pxToRem(14);
$font-size-md: pxToRem(15);
$font-size-lg: pxToRem(18);
$font-size-xl: pxToRem(20);

//font-weight
$font-regular: 400;

/*
 * Screen Breakpoints
 * */

$desktop-xxl: pxToRem(1920);
$desktop-xl: pxToRem(1600);
$desktop-l: pxToRem(1440);
$desktop-m: pxToRem(1200);
$desktop-s: pxToRem(1024);
$tablet-l: pxToRem(992);
$tablet-m: pxToRem(768);
$tablet-s: pxToRem(640);
$mobile-l: pxToRem(576);
$mobile-m: pxToRem(480);
$mobile-s: pxToRem(320);
