@use "@styles/_variables.scss" as *;
@use "@styles/_functions.scss" as *;

.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.logo .highlight {
  color: #0078FF;
}

.nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #0078FF;
}

.login-button {
  background-color: #0078FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #005bb5;
}


@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav-links.active {
    display: flex; 
    flex-direction: column;
    width: 100%;
  }

  .login-button {
    width: 100%;
    margin-top: 10px;
  }
}
