.pageWrapper {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1100px; 
  padding: 0 20px;
}

.contentWrapper {
  display: flex;     
  justify-content: flex-start;
  padding-left:100px;
}
