.card {
  width: 324px;
  padding: 24px;
  font-family: 'Poppins', sans-serif;

  h3 {
    font-size: 16px;
    font-weight: 500;
    color: #152c5b;
    margin-bottom: 12px;
  }
}

.counterRow {
  display: flex;
  align-items: center;
  background-color: #f5f6f8;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;

  .btnMinus,
  .btnPlus {
    width: 45px;
    height: 45px;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .btnMinus {
    background-color: #e74c3c;
  }

  .btnPlus {
    background-color: #1abc9c;
  }

  .nightText {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #152c5b;
    font-weight: 400;
  }
}

.dateWrapper {
  display: flex;
  align-items: center;
  background-color: #f5f6f8;
  border-radius: 8px;
  overflow: hidden;
  height: 45px;

  .iconBox {
    background-color: #152c5b;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  :global(.react-datepicker-wrapper) {
    flex: 1;
    display: flex;
  }

  .dateInput {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #152c5b;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding-right: 50px;
  }
}


.priceInfo {
  margin-top: 30px;

  .grayLabel,
  .smallText {
    font-size: 24px;
    color: #b0b0b0;
    margin: 0;

    .money,
    .nightCount {
      color: #152c5b;
      font-weight: 700;
    }
  }
}

