
.hero-section {
  padding: 4rem 10%; 
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    max-width: 1300px;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      padding-top: 2rem;
    }
  }

  .hero-content {
    flex: 1;
    max-width: 600px;
    z-index: 10;

    .hero-title, .hero-description {
      cursor: pointer; 
      transition: color 0.2s ease; 

      &:hover {
        color: #000000; 
      }
    }

    .hero-title {
      font-size: 42px;
      font-weight: 700;
      color: #152c5b;  
      line-height: 1.2;
      margin-bottom: 1.5rem;
    }

    .hero-description {
      font-weight: 300;
      font-size: 16px;
      color: #b0b0b0; 
      line-height: 1.7;
      margin-bottom: 2.5rem;
      padding-right: 2rem;
      
      @media (max-width: 960px) {
        padding-right: 0;
      }
    }

    .btn-primary {
      background-color: #3252df; 
      color: white;
      padding: 12px 35px;
      font-size: 1rem;
      font-weight: 500;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 3rem;
      box-shadow: 0px 8px 15px rgba(52, 86, 235, 0.3);
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-2px);
      }
    }

    .hero-stats-wrapper {
      display: flex;
      gap: 50px; 
      
      @media (max-width: 960px) {
        justify-content: center;
        flex-wrap: wrap; 
        gap: 20px;
      }
    }
  }

  .hero-image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative; 
    z-index: 1;
    margin-right: 40px; 
    margin-bottom: 40px;

    &::after {
      content: '';
      position: absolute;
      max-width: 506px; 
      border: 2px solid #E5E5E5; 
      border-radius: 15px;
      bottom: -30px; 
      right: -30px; 
      z-index: -1; 
    }

    .hero-image {
      width: 100%;
      max-width: 520px;
      height: auto;
      object-fit: cover;
      border-radius: 100px 15px 15px 15px; 
      position: relative;
      z-index: 2; 
      display: block;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}