.section {
  display: grid;
  gap: 16px;
  border: 1px solid #edf2f6;
  padding: 20px;
  border-radius: 10px;
  margin: 14px;
  @media (max-width: 500px) {
    border: none;
    padding: 0px;
    margin: 0;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    color: #464e5f;
    line-height: 1;
    padding-bottom: 10px;
    @media (max-width: 500px){
      padding-top: 40px;
      padding-bottom: 5px;
    }
  }
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
    .list {
      display: flex;
      flex-direction: column;
      max-width: 536.5px;
    }
    .answerBox {
      min-height: 120px;
      max-width: 468px;
      padding: 12px 16px;
      border-left: 4px solid #4a85f6;
      font-size: 14px;
      color: #757575;
    }
  }
}
