.previousStayCardContainer {
  border: 2px solid #bcc3d1;
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
  gap: 15px;
  font-size: 12px;
  color: #152c5b;
  align-items: center;
  .imageContainer {
    img {
      width: 74px;
      height: 74px;
      border-radius: 10px;
    }
  }
  .detailsContainer {
    width: 100%;
    display: grid;
    gap: 9px;
    @media (max-width: 600px) {
      gap: 3px;
    }
    .datePriceContainer {
      display: flex;
      justify-content: space-between;
      @media (max-width: 700px) {
        display: grid;
        gap: 2px;
      }
    }
    .titleLocationContainer {
      h3 {
        font-weight: 600;
      }
    }
  }
}
