.previousStayCardContainer {
  border: 2px solid #bcc3d1;
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
  gap: 15px;
  font-size: 12px;
  color: #152c5b;
  align-items: center;
  .imageContainer {
    img {
      width: 74px;
      height: 74px;
      border-radius: 10px;
    }
  }
  .detailsContainer {
    width: 100%;
    display: grid;
    gap: 9px;
    .datePriceContainer {
      display: flex;
      justify-content: space-between;
    }
    .titleLocationContainer {
      h3 {
        font-weight: 600;
      }
    }
  }
}
