.header {
  width: 100%;
  padding: 16px 0;
  background: #ffffff;
  @media (max-width: 810px) {
    padding: 24px 15px;
  }
}

.shortHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  background: #ffffff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #1a73e8;
}
.shortLogo {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  color: #1a73e8;
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 71px;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 240px;
    background: #fff;
    padding: 120px 20px 20px;
    flex-direction: column;
    gap: 30px;
    transition: right 0.3s ease;
    box-shadow: -6px 0 18px rgba(0, 0, 0, 0.08);
    z-index: 99;
  }
}

.open {
  right: 0 !important;
}

.nav {
  font-family: $primary-font;
  font-weight: 400;
  display: flex;
  gap: 40px;

  a {
    text-decoration: none;
    font-size: 15px;
    color: rgba(21, 44, 91, 1);
    transition: 0.2s;

    &:hover {
      color: #1a73e8;
    }
  }

  b {
    font-family: $primary-font;
    color: $color-primary;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.nav a:first-child {
  color: $color-primary;
}

.loginBtn {
  padding: 10px 24px;
  background: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #115ac7;
  }
}

@media (max-width: 768px) {
  .loginBtn {
    width: 100%;
  }
}

.hamburger {
  display: none;
  width: 28px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 100;

  span {
    height: 3px;
    width: 100%;
    background: #1a1a1a;
    border-radius: 2px;
    transition: 0.25s ease;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.barTopOpen {
  transform: translateY(9px) rotate(45deg);
}

.barMiddleOpen {
  opacity: 0;
}

.barBottomOpen {
  transform: translateY(-9px) rotate(-45deg);
}
