.header {
  width: 100%;
  padding: 16px 0;
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #1a73e8;
}

.navWrapper {
    display: flex;
    align-items: center;
    gap: 71px;
}
.nav {
  font-family: $primary-font ;
  font-weight: 400;
  display: flex;
  gap: 40px;



  a {
    text-decoration: none;
    font-size: 15px;
    color: rgba(21, 44, 91, 1);
    transition: 0.2s;

    &:hover {
      color: #1a73e8;
    }
  }
  b {
    font-family: $primary-font ;
    color: $color-primary;
  }

  @media (max-width: 768px) {
    display: none; 
  }
}
  .nav a:first-child {
    color: $color-primary;
  }

.loginBtn {
  padding: 10px 24px;
  background: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #115ac7;
  }
}

 @media (max-width: 768px) {
    .loginBtn {
        max-width: 100%;
    }
 }