.contactUs {
  max-width: 1140px;
  margin: 80px auto;
  display: flex;
  gap: 40px;
  padding: 20px;
}

.form {
  flex: 1;
}

.title {
  font-family: "Poppins" , sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgba(21, 44, 91, 1);
  margin-bottom: 30px;
}

.subtitle {
  font-family: "Poppins" , sans-serif; 
  font-size: 20px;
  font-weight: 400;
  color:rgba(21, 44, 91, 1) ;
  margin-bottom: 30px;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  position: relative;
  display: inline-block;

  input {
   font-family: "Poppins" , sans-serif; 
  color:rgba(176, 176, 176, 1) ;
  font-size: 14px;
    width: 100%;
    padding: 14px 36px 14px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: #2f5bea;
    }
  }
}


select,
textarea {
  color:rgba(21, 44, 91, 1) ;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  outline: none;

  &:focus {
    border-color: #2f5bea;
  }
}

textarea {
  resize: none;
  min-height: 120px;
}


input::placeholder,
textarea::placeholder {
  color: #b0b0b0;
}


.required {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #e53935;
  font-size: 18px;
  pointer-events: none;
}


.ContactUsButton {
  width: 100%;
  margin-top: 10px;

  button {
    width: 100%;
  }
}


.info {
  display: flex;
  gap: 60px;
  margin-top: 60px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 32px;
    height: 32px;
  }

  strong {
    font-family: "Poppins" , sans-serif;
    font-size: 14px;
    color:rgba(21, 44, 91, 1) ;
    font-weight: 500;
  
  }

  p {
    font-family: "Poppins" , sans-serif;
    color:rgba(50, 82, 223, 1) ;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
}


.map {
  flex: 1;
  height: auto;
  border-radius: 16px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}


@media (max-width: 1024px) {
  .contactUs {
    flex-direction: column;
    padding: 0 20px;
  }

  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .map {
    height: 420px;
    width: 100%;
    
  }
  .map iframe {
    width: 100%;
    height: 100%;
  }

  .info {
    gap: 60px;
  }
}