.mostPickedContainer {
  width: 100%;
  max-width: 1141px;
  margin: 0 auto;

  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    background-color: $color-primary;
    font-family: $primary-font;
  }
  .mostPickedGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
  .mostPickedGrid :first-child {
    grid-row: span 2;
  }
}
