@use '../../styles/variables.module' as v;

.footer {
  border-top: 1px solid v.$color-border;

  .footer-container {
    justify-content: space-between;
    display: flex;
    padding: 50px 100px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 25px 20px;
      align-items: center;
      display: flex;
      gap: 30px;
      text-align: center;
    }

    .footerLogo {
      max-width: 258px;
      display: grid;
      gap: 10px;

      @media (max-width: 768px) {
        justify-items: center;
        width: 100%;
      }

      p {
        color: v.$color-text-muted;
        font-weight: 300;
      }
    }

    .footerButton {
      display: flex;
      flex-direction: column;
      gap: 17px;

      @media (max-width: 768px) {
        gap: 10px;
        align-items: center;
        width: 100%;
      }

      button {
        padding: 5px 24px;
        border-radius: 5px;
        background-color: v.$color-primary;
        color: v.$white;
        font-weight: 500;
        font-size: v.$font-size-sm;
        border: none;
        width: fit-content;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }

      h4 {
        font-weight: 500;
        font-size: v.$font-size-lg;
        color: v.$color-navy;
      }
    }
  }

  .bottom {
    background-color: v.$color-primary;
    color: v.$white;
    text-align: center;
    padding: 20px 0px;
    font-weight: 300;
    font-size: v.$font-size-sm;
  }
}
