.footer {
  border-top: 1px solid $color-border;

  .footer-container {
    justify-content: space-between;
    display: flex;
    max-width: 1043px;
    margin: 0% auto;
    padding: 50px 10px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 25px 20px;
      align-items: center;
      display: flex;
      gap: 30px;
      text-align: center;
    }

    .footerLogo {
      max-width: 258px;
      display: grid;
      gap: 10px;

      @media (max-width: 768px) {
        justify-items: center;
        width: 100%;
      }

      p {
        color: $color-text-muted;
        font-weight: 300;
      }
    }

    .footerButton {
      display: flex;
      flex-direction: column;
      gap: 17px;

      @media (max-width: 768px) {
        gap: 10px;
        align-items: center;
        width: 100%;
      }

     

      h4 {
        font-weight: 500;
        font-size: $font-size-lg;
        color: $color-navy;
      }
    }
  }

  .bottom {
    background-color: $color-primary;
    color: $white;
    text-align: center;
    padding: 20px 0px;
    font-weight: 300;
    font-size: $font-size-sm;
  }
}
