.payment-screen {
  max-width: 900px;
  margin: 60px auto;
  text-align: center;

  &__title {
    font-family: $primary-font;
    font-size: 36px;
    color: $color-navy;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: $primary-font;
    font-size: 18px;
    color:rgba(176, 176, 176, 1);
    margin-bottom: 48px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    color: rgba(21, 44, 91, 1);
  }

  
  &__summary {
    width: 40%;
    text-align: left;

    h3 {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-bottom: 24px;
    line-height: 1.6;
  }

  &__price {
    font-size: 16px;
    margin-bottom: 12px;
  }


  &__form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 18px;

    input {
      padding: 14px;
      border: 1px solid #e5e7eb;
      border-radius: 6px;
      font-size: 14px;
    }
  }

 &__button-wrapper {
    margin-top: 24px;
 }

  &__cancel-btn {
    background: none;
    border: none;
    color:rgba(245, 246, 248, 1);
    margin-top: 10px;
    cursor: pointer;
  }
}