.payment-screen {
  max-width: 880px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;

  &__title {
    font-family: $primary-font;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    color: $color-navy;
    font-weight: 600;
  }

  &__subtitle {
    font-family: $primary-font;
    font-size: 18px;
    color: $color-text-muted;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__summary {
    flex: 1;
    margin-right: 20px;
    padding: 15px;
    gap: 22px;


    h3 {
      font-family: $primary-font;
      font-size: 24px;
      font-weight: 400;
      color: $color-navy;
      margin-bottom: 5px;
    }

    p {
      font-family: $primary-font;
      font-size: 24px;
      font-weight: 400;
      color: $color-navy;
      margin: 10px 0;
    }

    br {
      font-family: $primary-font;
      font-size: 24px;
      font-weight: 400;
      color: $color-navy;
      font-weight: bold;
    }
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;

    input {
      background-color: #F5F6F8;
      align-items: center;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
    }

    .payment-screen__input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-family: $primary-font;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        color:#152C5B;
      }
    }

  }
}