.upcomingStaysCardSection {
     margin: 20px;
  .header {
    border-bottom: 1px solid #edf2f6;
    margin: 15px 0;
    padding-bottom: 10px;
    color: #464E5F;
  
    h2{
  font-weight: normal;
  font-size: 16px;
    }
    p{
        font-size: 12px;
        opacity: 0.4;
        margin-top: 4px;
    }
  }
}
