@import '../main.scss';

.footer {
  border-top: 1px solid rgba(229, 229, 229, 1);

  .footer-container {
    justify-content: space-between;
    display: flex;
    padding: 50px 100px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 25px 20px;
      align-items: center;
      display: flex;
      gap: 30px;
      text-align: center;
    }

    .footerLogo {
      max-width: 258px;
      display: grid;
      gap: 10px;

      @media (max-width: 768px) {
        justify-items: center;
        width: 100%;
      }

      p {
        color: rgba(176, 176, 176, 1);
        font-weight: 300;
      }
    }

    .footerButton {
      display: flex;
      flex-direction: column;
      gap: 17px;

      @media (max-width: 768px) {
        gap: 10px;
        align-items: center;
        width: 100%;
      }

      button {
        padding: 5px 24px;
        border-radius: 5px;
        background-color: rgba(50, 82, 223, 1);
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-size: 14px;
        border: none;
        width: fit-content;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }

      h4 {
        font-weight: 500;
        font-size: 18px;
        color: rgba(21, 44, 91, 1);
      }
    }
  }

  .bottom {
    background-color: rgba(50, 82, 223, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 20px 0px;
    font-weight: 300;
    font-size: 14px;
  }
}
